 
<form id="form" class="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form %}

<div class="mb-3 row">

  	<label class="col-sm-2 form-label" for="{{ field.id_for_label  }}">{{ field.label }}</label>

  <div class="col-sm-10">

  	{{ field }}

  {% for error in field.errors %}

   	<div class="alert alert-danger ml-3">{{ error }}</div>

   {% endfor %}

   </div>

  </div>

  {% endfor %}
<div class="line"></div><br>
                                        <div class="mb-3 row">
                                            <div class="col-sm-4 offset-sm-2">
												<a class="btn btn-warning  mb-2" href="{% url 'organisation:chauffeur-list' %}"><i class="fas fa-times"></i> Annuler</a>

                                                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-paper-plane"></i> Envoyer</button>
                                            </div>
                                        </div>
                                    </form>
                                                
