{% extends "base.html" %}
{% load humanize %}
{% load static %}
  {% block title %} Sinistre - LISTE{% endblock %}
{% block css %}
    <link href="{% static 'assets/vendor/datatables/datatables.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4@5.0.8/bootstrap-4.min.css">
{% endblock %}
{% block content %}

<div class="wrapper">
    {% include "myaccount/navbar.html" %}
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Liste des sinistres <a class="btn btn-outline-success" href="{% url 'reparation:sinistre-add' %}">Ajouter</a></h3>
                        {% for msg in messages %}
                            <div class="alert alert-success">
                                        <h5 class="alert-title"><i class="fas fa-check"></i> Succès</h5>
                                        { msg }
                            </div>


                        {% endfor %}

                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                          <div class="card">
                                <div class="card-header">Liste des sinistres</div>
                                <div class="card-body">
                                    <p class="card-title"></p>
                                    <table class="table table-hover" id="tablo" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Véhicule</th>
                                                <th>Immatriculation</th>
                                                <th>Agence</th>
                                                <th>Chauffeur</th>
                                                <th>Date assignation</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for sinistre in sinistres %}
                                            <tr>
                                                <td>{ sinistre.id  }</td>
                                                <td>{ sinistre.vehicule }</td>
                                                <td>{ sinistre.chauffeur }</td>
                                                <td>{ sinistre.descriptionsinistre }</td>
                                                <td>{ sinistre.imagedusinistre }</td>
                                                <td>{ sinistre.datedusinistre }</td>
                                                <td><a href="{% url 'reparation:sinistre-edit' sinistre.pk %}"><i class="fas fa-edit"></i></a>  &nbsp;   <a href="{% url 'reparation:sinistre-delete'  sinistre.pk %}"><i class="fas fa-trash"></i></a></td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

 <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/datatables.min.js' %}"></script>

    <script src="{% static 'assets/js/plugins/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts/datatables.script.min.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{% static 'assets/js/initiate-datatables.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
<script>
$(document).ready(function () { 

  $('#tablo').DataTable({ "language": {
            "url": "{% static 'assets/js/fr_fr.json' %}"
            },
                     dom: "lBfrtip",
              buttons: [
              {
                        extend: 'excelHtml5',
                        title: 'Liste des assignations'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Liste des assignations',
                        orientation: 'landscape'
                    }
              ],
            });
  
});
</script>

{% endblock %}