{{% load static %}}
<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin ESPAGRI</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="{{% static 'css/themes/lite-purple.css' %}}" rel="stylesheet" />
    <link href="{{% static 'css/plugins/perfect-scrollbar.min.css' %}}" rel="stylesheet" />
    <link href="{{% static 'css/plugins/fontawesome-5.css' %}}" rel="stylesheet" />
    <link href="{{% static 'css/plugins/datatables.min.css' %}}" rel="stylesheet" />


</head>

<body class="text-left">
{{% block content %}}
{{% endblock content %}}
{{% include 'scripts.html' %}}
</body>
</html>