{% load static %}
    <script src="{% static 'js/plugins/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/plugins/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'js/scripts/script.min.js'%}"></script>
    <script src="{% static 'js/scripts/sidebar.large.script.min.js'%}"></script>
    <script src="{% static 'js/plugins/apexcharts.min.js'%}"></script>
    <script src="{% static 'js/plugins/echarts.min.js'%}"></script>
    <script src="{% static 'js/scripts/echart.options.min.js'%}"></script>
    <script src="{% static 'js/scripts/dashboard.v3.script.min.js'%}"></script>
    <script src="{% static 'js/scripts/apexcharts.min.js'%}"></script>
    <script src="{% static 'js/scripts/card.metrics.script.min.js'%}"></script>
    <script src="{% static 'js/scripts/widgets-statistics.min.js'%}"></script>
    <script src="{% static 'js/scripts/customizer.script.min.js'%}"></script>
    <script src="{% static 'js/scripts/apexColumnChart.script.min.js'%}"></script>

    <script src="{% static 'js/plugins/datatables.min.js'%}"></script>
    <script src="{% static 'js/scripts/datatables.script.min.js'%}"></script>
    <script>

   $( document ).ready(function() {
       $("#locataireform").validate({});
    });
